@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*fonte do google fonts*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: "Roboto", sans-serif; 


}

header{

    width: 1200px; /*tamanho do header */
    padding:  8px 0px; /* ativa o espaço interno*/
    display: flex; /* ativa o flexbox*/
    margin: 0 auto; 
    gap: 30px; /* espaçamento entre os itens*/
    justify-content: space-between;
    align-items: center;

}
.menu-top{
    display: flex; 
    list-style: none; /* tira o estilo = ponto antes das palavras*/
    gap: 55px;
    
}
.item-menu{
   color: #004a8d;
   font-weight: 500; 
    transition: 0.6s;
    font-weight: 600px;
}
.item-menu:hover{ /* faz a fonte mudar de cor ao passar o mouse em cima*/
    color: #f7941d;
    cursor: pointer; /* muda o cursor do mouse*/
}
